<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->

            </ui:define>
            
            <ui:define name="content">
                
                <form jsf:id="form" jsf:prependId="false">
                    <input jsf:id="email" type="email" jsf:value="#{bean.email}"
                           placeholder="Entre com seu email"/>
                    <button jsf:action="#{bean.grava}" >Envia
                        <f:ajax execute="email" render=":form:viewEmail" />
                    </button>
                    
                    <label jsf:id="viewEmail">#{bean.msg}</label>
                    
                </form>
                <hr/>

            </ui:define>
            
            <ui:define name="footer">
                <!-- JS que alimenta o conteúdo do gráfico -->

            </ui:define>

        </ui:composition>

    </body>
</html>
