<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->

            </ui:define>

            <ui:define name="content">

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Chart.js</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a jsf:outcome="index">Home</a>
                            </li>
                            <li>
                                <a>Graphs</a>
                            </li>
                            <li class="active">
                                <strong>Chart</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Line Chart Example
                                        <small>With custom colors.</small>
                                    </h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="lineChart" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Bar Chart Example</h5>
                                    <div clas="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="barChart" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Polar Area</h5>

                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div class="text-center">
                                        <canvas id="polarChart" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Pie </h5>

                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="doughnutChart" height="140"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Radar Chart Example</h5>
                                    <div class="ibox-tools"></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <canvas id="radarChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

            <ui:define name="footer">
                <!-- JS que alimenta o conteúdo do gráfico -->
                <!-- Flot -->
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.tooltip.min.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.resize.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.pie.js" />

                <!-- Custom and plugin javascript -->
                <h:outputScript library="assets/js" name="inspinia.js" />
                <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

                <!-- ChartJS-->
                <h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />
                <h:outputScript library="assets/js/demo" name="chartjs-demo.js" />
            </ui:define>

        </ui:composition>

    </body>
</html>
