<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->

            </ui:define>

            <ui:define name="content">

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Peity Charts</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a jsf:outcome="index">Home</a>
                            </li>
                            <li>
                                <a>Graphs</a>
                            </li>
                            <li class="active">
                                <strong>Peity Charts</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
                <div class="wrapper wrapper-content animated fadeInDown">

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="jumbotron">
                                <h1>Peity Charts</h1>
                                <p>Is a perfect library for inline graphics visualization data.</p>
                                <p><a href="http://benpickles.github.io/peity/" target="_blank" class="btn btn-primary btn-lg" role="button">Learn more about Peity</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Pie Charts <small>With custom colors.</small></h5>
                                    <div class="ibox-tools">
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div >
                                    <table class="table table-bordered white-bg">
                                        <thead>
                                            <tr>
                                                <th>Graph</th>
                                                <th>Code</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="pie">1/5</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;1/5&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="pie">226/360</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;226/360&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="pie">0.52/1.561</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;0.52/1.561&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="pie">1,4</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;1,4&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="pie">226,134</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;226,134&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="pie">0.52,1.041</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="pie"&gt;0.52,1.041&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Line and Bars Charts</h5>
                                    <div class="ibox-tools">
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div >
                                    <table class="table table-bordered white-bg">
                                        <thead>
                                            <tr>
                                                <th>Graph</th>
                                                <th>Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="line"&gt;5,3,9,6,5,9,7,3,5,2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="line"&gt;5,3,9,6,5,9,7,3,5,2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="line">5,3,2,-1,-3,-2,2,3,5,2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="line"&gt;5,3,2,-1,-3,-2,2,3,5,2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="line">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="line"&gt;0,-3,-6,-4,-5,-4,-7,-3,-5,-2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="bar"&gt;5,3,9,6,5,9,7,3,5,2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                                </td>
                                                <td>
                                                    <code>&lt;span class="bar"&gt;5,3,2,-1,-3,-2,2,3,5,2&lt;/span&gt;</code>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </ui:define>

            <ui:define name="footer">
                <!-- JS que alimenta o conteúdo do gráfico -->
                <!-- Peity -->
                <h:outputScript library="assets/js/plugins/peity" name="jquery.peity.min.js" />

                <!-- Custom and plugin javascript -->
                <h:outputScript library="assets/js" name="inspinia.js" />
                <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

                <!-- Peity demo data -->
                <h:outputScript library="assets/js/demo" name="peity-demo.js" />
            </ui:define>

        </ui:composition>

    </body>
</html>
