<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->

            </ui:define>

            <ui:define name="content">

                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>Layouts</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">
                                <strong>Layouts</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content text-center p-md">

                                    <h2><span class="text-navy">INSPINIA - Responsive Admin Theme</span>
                                        is provided with two main layouts <br/>three skins and separate configure options.</h2>

                                    <p>
                                        All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content text-center p-md">

                                    <h4 class="m-b-xxs">Top navigation, centered content layout <span class="label label-primary">NEW</span></h4>
                                    <small>(optional layout)</small>
                                    <p>Avalible configure options</p>
                                    <span class="simple_tag">Scroll navbar</span>
                                    <span class="simple_tag">Top fixed navbar</span>
                                    <span class="simple_tag">Boxed layout</span>
                                    <span class="simple_tag">Scroll footer</span>
                                    <span class="simple_tag">Fixed footer</span>
                                    <div class="m-t-md">
                                        <p>Check the Dashboard v.4 with top navigation layout</p>
                                        <div class="p-lg ">
                                            <a jsf:outcome="dash4_"><img class="img-responsive img-shadow" src="../../resources/assets/img/dashbard4_2.jpg" width="819" height="487" alt="dashbard4_2"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content text-center p-md">

                                    <h4 class="m-b-xxs">Basci left side nabigation layout </h4><small>(main layout)</small>
                                    <p>Avalible configure options</p>
                                    <span class="simple_tag">Collapse menu</span>
                                    <span class="simple_tag">Fixed sidebar</span>
                                    <span class="simple_tag">Scroll navbar</span>
                                    <span class="simple_tag">Top fixed navbar</span>
                                    <span class="simple_tag">Boxed layout</span>
                                    <span class="simple_tag">Scroll footer</span>
                                    <span class="simple_tag">Fixed footer</span>
                                    <div class="m-t-md">
                                        <p>Check the Dashboard v.4 with basic layout</p>
                                        <div class="p-lg">
                                            <a jsf:outcome="dash4"><img class="img-responsive img-shadow" src="../../resources/assets/img/dashbard4_1.jpg" width="819" height="487" alt="dashbard4_1"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </ui:define>

            <ui:define name="footer">
                <!-- Custom and plugin javascript -->
                <h:outputScript library="assets/js" name="inspinia.js" />
                <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

            </ui:define>

        </ui:composition>

    </body>
</html>
