<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->

            </ui:define>

            <ui:define name="content">

                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>Responsive transactional HTML email templates</h5>
                                </div>
                                <div class="ibox-content">
                                    <p>
                                        Transactional HTML emails. Each template is responsive and each has been tested in all the popular email clients. Credits to <a target="_blank" href="https://github.com/mailgun/transactional-email-templates">Maligun</a>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>Basic action email</h4>
                                            <a href="email_templates/action.html" target="_blank">
                                                <img src="../../resources/assets/img/email_1.jpg" class="img-responsive" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Email alert </h4>
                                            <a href="email_templates/alert.html" target="_blank">
                                                <img src="../../resources/assets/img/email_2.jpg" class="img-responsive" alt="" />
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Billing email</h4>
                                            <a href="email_templates/billing.html" target="_blank">
                                                <img src="../../resources/assets/img/email_3.jpg" class="img-responsive" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

            <ui:define name="footer">
                <!-- JS que alimenta o conteúdo do gráfico -->
                <!-- Custom and plugin javascript -->
                <h:outputScript library="assets/js" name="inspinia.js" />
                <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

                <h:outputScript library="assets/js/plugins/jquery-ui" name="jquery-ui.min.js" />
            </ui:define>

        </ui:composition>

    </body>
</html>
