<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                template="./../../templates/default/protected-layout.xhtml">

    <ui:define name="header">
        <!-- CSS que alimenta o conteúdo do gráfico -->
    </ui:define>

    <ui:define name="content">

        <div class="row  border-bottom white-bg dashboard-header">
            <h:form prependId="false">
                <section class="row">
                    <nav class="col-lg-3">
                        <section class="form-group">
                            <h:outputLabel value="Selecione um evento" />
                            <h:selectOneMenu id="selectEvent" value="#{admin.event}" styleClass="form-control" >
                                <f:selectItems value="#{admin.events}" />
                                <f:ajax event="change" render="albuns" execute="selectEvent" listener="#{admin.loadAlbuns()}"/>
                            </h:selectOneMenu>
                        </section>
                        <section class="form-group">
                            <h:panelGroup id="albuns">
                                <h:outputLabel value="Selecione um album" rendered="#{admin.selectedEvent}" />
                                <h:selectOneMenu id="selectAlbum"
                                                 rendered="#{admin.selectedEvent}"
                                                 value="#{admin.album}"
                                                 styleClass="form-control">
                                    <f:selectItems value="#{admin.albuns}" var="album" />
                                    <f:ajax event="change" render="album" execute="selectAlbum" listener="#{admin.loadImages()}" />
                                </h:selectOneMenu>
                            </h:panelGroup>
                        </section>
                    </nav>
                    <section class="col-lg-9">
                        <h:panelGroup id="album" rendered="#{admin.selectedAlbum}">
                            <div class="row">
                                <ui:repeat value="#{admin.imagens}" var="image">
                                    <div class="col-lg-4">
                                        <h:graphicImage value="#{image.toString}" styleClass="img-responsive" />
                                    </div>
                                </ui:repeat>
                            </div>
                        </h:panelGroup>
                    </section>
                </section>
            </h:form>
        </div>

    </ui:define>

    <ui:define name="footer">
        <!-- Custom and plugin javascript -->
        <h:outputScript library="assets/js" name="inspinia.js" />        
    </ui:define>

</ui:composition>
