body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F5F4F3;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.wizard > .content > .body {
    width: 100%;
}
.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 0.5em;
}

.wizard-big.wizard > .content {
    min-height: 380px;    
}

.wizard > .content {
    overflow: visible;
}

.wizard, .tabcontrol {
    overflow: visible;
}

.wizard ul > li, .tabcontrol ul > li {
    display: block !important;
}

ul > li.collapse {
    visibility: visible;
}
