<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout_1.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->
                <h:outputStylesheet library="assets/css/plugins/toastr" name="toastr.min.css"/>
                <h:outputStylesheet library="assets/css/plugins/morris" name="morris-0.4.3.min.css"/>
            </ui:define>

            <ui:define name="content">

                <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">Atual</span>
                                    <h5>Saldo Conta Corrente</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">R$ 4 886,20</h1>
                                    <div class="stat-percent font-bold text-info">R$ 4 610,40 <i class="fa fa-level-up"></i></div>
                                    <small>Saldo Anterior</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">Trans.</span>
                                    <h5>Última Movimentação</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">R$ 275,800</h1>
                                    <div class="stat-percent font-bold text-success">10/06/2015 <i class="fa fa-calendar"></i></div>
                                    <small>Conta Corrente</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">Atual</span>
                                    <h5>Saldo Conta Poupança</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">R$ 9 321,92</h1>
                                    <div class="stat-percent font-bold text-info">R$ 8 700,46 <i class="fa fa-level-up"></i></div>
                                    <small>Saldo Anterior</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">Depós.</span>
                                    <h5>Última Movimentação</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins">R$ 177,56</h1>
                                    <div class="stat-percent font-bold text-success">05/06/2015 <i class="fa fa-calendar"></i></div>
                                    <small>Conta Poupança</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div>
                                        <h3 class="font-bold no-margins">Movimentaçao Financeira até o Período R$ 50 084,99</h3>
                                        <br/>
                                    </div>

                                    <div>
                                        <canvas id="lineChart" height="70"></canvas>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-2">
                                            <i class="text-info fa fa-square"></i> Conta Corrente 
                                        </div>
                                        <div class="col-xs-10">
                                            <i class="text-muted fa fa-square"></i> Conta Poupança
                                        </div>
                                    </div>
                                    <div class="m-t-md">
                                        <small class="pull-right">
                                            <i class="fa fa-clock-o"> </i>
                                            Atualizado em 12/06/2015
                                        </small>
                                        <small>
                                            <strong>Obs:</strong> Os dados apresentados são atualizados a cada 1 hora.
                                        </small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Acesso de usuários no mês corrente</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-hover no-margins">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th>User</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><small>Pending...</small></td>
                                                <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                                                <td>Samantha</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 24% </td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-warning">Canceled</span> </td>
                                                <td><i class="fa fa-clock-o"></i> 10:40am</td>
                                                <td>Monica</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                                            </tr>
                                            <tr>
                                                <td><small>Pending...</small> </td>
                                                <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                                                <td>John</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 54% </td>
                                            </tr>
                                            <tr>
                                                <td><small>Pending...</small> </td>
                                                <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                                                <td>Agnes</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 12% </td>
                                            </tr>
                                            <tr>
                                                <td><small>Pending...</small> </td>
                                                <td><i class="fa fa-clock-o"></i> 09:40pm</td>
                                                <td>Janet</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 22% </td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-primary">Completed</span> </td>
                                                <td><i class="fa fa-clock-o"></i> 04:10am</td>
                                                <td>Amelia</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                                            </tr>
                                            <tr>
                                                <td><small>Pending...</small> </td>
                                                <td><i class="fa fa-clock-o"></i> 12:08am</td>
                                                <td>Damian</td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Extrato do mês corrente</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table table-hover margin bottom">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 1%" class="text-center">No.</th>
                                                        <th>Transaction</th>
                                                        <th class="text-center">Date</th>
                                                        <th class="text-center">Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td> Security doors
                                                        </td>
                                                        <td class="text-center small">16 Jun 2014</td>
                                                        <td class="text-center"><span class="label label-primary">$483.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">2</td>
                                                        <td> Wardrobes
                                                        </td>
                                                        <td class="text-center small">10 Jun 2014</td>
                                                        <td class="text-center"><span class="label label-primary">$327.00</span></td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">3</td>
                                                        <td> Set of tools
                                                        </td>
                                                        <td class="text-center small">12 Jun 2014</td>
                                                        <td class="text-center"><span class="label label-warning">$125.00</span></td>

                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">4</td>
                                                        <td> Panoramic pictures</td>
                                                        <td class="text-center small">22 Jun 2013</td>
                                                        <td class="text-center"><span class="label label-primary">$344.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">5</td>
                                                        <td>Phones</td>
                                                        <td class="text-center small">24 Jun 2013</td>
                                                        <td class="text-center"><span class="label label-primary">$235.00</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">6</td>
                                                        <td>Monitors</td>
                                                        <td class="text-center small">26 Jun 2013</td>
                                                        <td class="text-center"><span class="label label-primary">$100.00</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ui:define>

            <ui:define name="footer">
                <!-- ChartJS -->
                <h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />

                <!-- Toastr -->
                <h:outputScript library="assets/js/plugins/toastr" name="toastr.min.js" />

                <!-- JS que alimenta o conteúdo do gráfico -->
                <h:outputScript library="js" name="dash3.js" />

                <h:outputScript library="js" name="protected.js" />
            </ui:define>

        </ui:composition>

    </body>
</html>
