<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout_1.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->
                <h:outputStylesheet library="assets/css/plugins/toastr" name="toastr.min.css"/>
                <h:outputStylesheet library="assets/js/plugins/gritter" name="jquery.gritter.css"/>
            </ui:define>

            <ui:define name="content">

                <div class="row  border-bottom white-bg dashboard-header">
                    <h:form prependId="false">
                        <h:messages id="myMessage" globalOnly="true" showDetail="true" />
                        Informe o número: 
                        <h:inputText id="inputNumber" 
                                     value="#{bean.name}" 
                                     onkeypress="return isNumberKey(event)" 
                                     onkeyup="maskCel(this)"
                                     >
                            <f:ajax event="keyup" render="myNumber" execute="inputNumber" listener="#{bean.editMyCarsList}" />
                        </h:inputText>
                        <br />
                        <br />
                        <h:outputText id="myNumber" value="#{bean.name}" />
                    </h:form>
                </div>

            </ui:define>

            <ui:define name="footer">
                
                <!-- Flot -->
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.tooltip.min.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.spline.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.resize.js" />
                <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.pie.js" />

                <!-- Peity -->
                <h:outputScript library="assets/js/plugins/peity" name="jquery.peity.min.js" />
                <h:outputScript library="assets/js/demo" name="peity-demo.js" />

                <!-- Custom and plugin javascript -->
                <h:outputScript library="assets/js" name="inspinia.js" />
                <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

                <!-- jQuery UI -->
                <h:outputScript library="assets/js/plugins/jquery-ui" name="jquery-ui.min.js" />

                <!-- GITTER -->
                <h:outputScript library="assets/js/plugins/gritter" name="jquery.gritter.min.js" />

                <!-- Sparkline -->
                <h:outputScript library="assets/js/plugins/sparkline" name="jquery.sparkline.min.js" />

                <!-- Sparkline demo data  -->
                <h:outputScript library="assets/js/demo" name="sparkline-demo.js" />

                <!-- ChartJS-->
                <h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />

                <!-- Toastr -->
                <h:outputScript library="assets/js/plugins/toastr" name="toastr.min.js" />

                <!-- JS que alimenta o conteúdo do gráfico -->
                <h:outputScript library="js" name="dash3.js" />
                
                <!--<h:outputScript library="assets/js/plugins/mask" name="jquery.mask.js" />-->
                <!--<h:outputScript library="js" name="myMask.js" />-->
                <!--<h:outputScript library="assets/js/plugins/maskInput" name="jquery.maskedInput.js" />-->
                <!--<h:outputScript library="js" name="myMaskedInput.js" />-->
                
                <h:outputScript library="js" name="maskIt.js" />
                <h:outputScript library="js" name="protected.js" />
                
            </ui:define>

        </ui:composition>

    </body>
</html>
