<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <body>

        <ui:composition template="./../../templates/default/protected-layout_1.xhtml">

            <ui:define name="header">
                <!-- CSS que alimenta o conteúdo do gráfico -->
                <!--<h:outputStylesheet library="assets/css/plugins/toastr" name="toastr.min.css"/>-->
                <!--<h:outputStylesheet library="assets/js/plugins/gritter" name="jquery.gritter.css"/>-->
            </ui:define>

            <ui:define name="content">

                <div class="wrapper wrapper-content">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Saldo Conta Corrente</h5>
                                </div>
                                <div class="ibox-content">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>(+) Saldo CC Bônus/Cliente Ouro</td>
                                                <td>R$ 976,24</td>
                                            </tr>
                                            <tr>
                                                <td>(+) Saldo CC Disponível para Saque/Cliente Ouro</td>
                                                <td>R$ 2 440,6</td>
                                            </tr>
                                            <tr>
                                                <td>(-) Limite Diário para Saque em Terminal Eletrônico</td>
                                                <td>R$ 1 000,0</td>
                                            </tr>
                                            <tr>
                                                <td><b>(=) Total Limite para Saque</b></td>
                                                <td><b>R$ 3 416,84</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Saldo Conta Poupança</h5>
                                </div>
                                <div class="ibox-content">

                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>(+) Rendimento Mensal/Cliente Ouro</td>
                                                <td>R$ 270,24</td>
                                            </tr>
                                            <tr>
                                                <td>(+) Saldo CP sem Rendimento Mensal/Cliente Ouro</td>
                                                <td>R$ 2 440,6</td>
                                            </tr>
                                            <tr>
                                                <td>(-) Limite Diário para Resgate em Terminal Eletrônico</td>
                                                <td>R$ 1 000,0</td>
                                            </tr>
                                            <tr>
                                                <td><b>(=) Total a ser Resgatado</b></td>
                                                <td><b>R$ 2 710,6</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </ui:define>

            <ui:define name="footer">                
                <!-- Flot -->
                <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.js" />-->
                <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.tooltip.min.js" />-->
                <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.spline.js" />-->
                <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.resize.js" />-->
                <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.pie.js" />-->

                <!-- Peity -->
                <!--<h:outputScript library="assets/js/plugins/peity" name="jquery.peity.min.js" />-->
                <!--<h:outputScript library="assets/js/demo" name="peity-demo.js" />-->

                <!-- Custom and plugin javascript -->
                <!--<h:outputScript library="assets/js" name="inspinia.js" />-->
                <!--<h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />-->

                <!-- jQuery UI -->
                <!--<h:outputScript library="assets/js/plugins/jquery-ui" name="jquery-ui.min.js" />-->

                <!-- GITTER -->
                <!--<h:outputScript library="assets/js/plugins/gritter" name="jquery.gritter.min.js" />-->

                <!-- Sparkline -->
                <!--<h:outputScript library="assets/js/plugins/sparkline" name="jquery.sparkline.min.js" />-->

                <!-- Sparkline demo data  -->
                <!--<h:outputScript library="assets/js/demo" name="sparkline-demo.js" />-->

                <!-- ChartJS-->
                <!--<h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />-->

                <!-- Toastr -->
                <!--<h:outputScript library="assets/js/plugins/toastr" name="toastr.min.js" />-->

                <!-- JS que alimenta o conteúdo do gráfico -->
                <!--<h:outputScript library="js" name="dash3.js" />-->

                <!--<h:outputScript library="assets/js/plugins/mask" name="jquery.mask.js" />-->
                <!--<h:outputScript library="js" name="myMask.js" />-->
                <!--<h:outputScript library="assets/js/plugins/maskInput" name="jquery.maskedInput.js" />-->
                <!--<h:outputScript library="js" name="myMaskedInput.js" />-->

                <h:outputScript library="js" name="maskIt.js" />
                <h:outputScript library="js" name="protected.js" />

            </ui:define>

        </ui:composition>

    </body>
</html>
