<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Internet Bank</title>

        <h:outputStylesheet library="assets/css/bootstrap-3.3.0/css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="assets/css/font-awesome-4.3.0/css" name="font-awesome.min.css"/>
        <h:outputStylesheet library="assets/css/plugins/iCheck" name="custom.css"/>

        <h:outputStylesheet library="assets/css/plugins/steps" name="jquery.steps.css"/>
        <h:outputStylesheet library="assets/css/datepicker" name="bootstrap-datetimepicker.css"/>

        <h:outputStylesheet library="assets/css" name="animate.css"/>
        <h:outputStylesheet library="assets/css" name="style.css"/>        
        <h:outputStylesheet library="css" name="wizard.css"/>        
    </h:head>

    <h:body>
        <!--WIZARD-->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <div class="container">
                    <h2>Pré-Cadastro de Abertura de Conta</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a jsf:outcome="index">Início</a>
                        </li>
                        <li>
                            <a jsf:outcome="index">Formulários</a>
                        </li>
                        <li class="active">
                            <strong>Nova conta</strong>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <section class="container">

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Preencha os campos abaixo para abertura de conta</h5>
                            </div>
                            <div class="ibox-content">
                                <h2>
                                    Validação de Dados Cadastrais
                                </h2>
                                <p>
                                    Os dados informados abaixo não garatem a abertura de nova conta, somente
                                    após a comprovações dos dados cadastrais na agência informada no cadastro,
                                    é que a conta será ativada e seu acesso ao Internet Bank estarão ativos.
                                </p>

                                <h:form id="form" pt:action="#" class="wizard-big" prependId="false" >
                                    <h1>Dados Pessoais</h1>
                                    <fieldset>
                                        <h2>Informações pessoais do cliente</h2>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <label>Nome completo *</label>
                                                    <input jsf:id="nome" name="nome" type="text" class="form-control required" />
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Nasc *</label>
                                                            <input jsf:id="nasc" 
                                                                   name="nasc" 
                                                                   type="text" 
                                                                   class="form-control required" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>RG *</label>
                                                            <input jsf:id="rg" 
                                                                   name="rg" 
                                                                   type="text" 
                                                                   class="form-control required rg_placeholder" 
                                                                   onkeypress="return isNumberKey(event)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>CPF *</label>
                                                            <input jsf:id="cpf" 
                                                                   name="cpf" 
                                                                   type="text" 
                                                                   class="form-control required cpf_placeholder"
                                                                   onkeypress="return isNumberKey(event)" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Nome completo da mãe *</label>
                                                    <input id="nomeMae" 
                                                           name="nomeMae" 
                                                           type="text" 
                                                           class="form-control required" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Nome completo do pai *</label>
                                                    <input id="nomePai" 
                                                           name="nomePai" 
                                                           type="text" 
                                                           class="form-control required" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="text-center">
                                                    <div style="margin-top: 20px">
                                                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <h1>Endereço/Contato</h1>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h2>Endereço</h2>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Logradouro *</label>
                                                            <input jsf:id="logradouro" name="logradouro" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">    
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Nº *</label>
                                                            <input jsf:id="numero" name="numero" type="text" class="form-control required" />
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>CEP *</label>
                                                            <input jsf:id="cep" name="cep" type="text" class="form-control required cep_placeholder" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Bairro *</label>
                                                            <input jsf:id="bairro" name="bairro" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>País *</label>
                                                            <input jsf:id="pais" name="pais" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Estado *</label>
                                                            <input jsf:id="estado" name="estado" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Cidade *</label>
                                                            <input jsf:id="cidade" name="cidade" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <h2>Contato</h2>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>E-mail *</label>
                                                            <input jsf:id="email" name="email" type="email" class="form-control required email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>E-mail *</label>
                                                            <input jsf:id="confEmail" name="confEmail" type="email" class="form-control required email" placeholder="Confirmação de e-mail" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Tel. *</label>
                                                            <input jsf:id="telefone" name="telefone" type="tel" class="form-control required email phone_with_ddd" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Cel. *</label>
                                                            <input jsf:id="celular" name="celular" type="tel" class="form-control required phone_with_ddd" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Nome de referencia*</label>
                                                            <input jsf:id="nomeRef" name="nomeRef" type="text" class="form-control required" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Tel. de referencia*</label>
                                                            <input jsf:id="celularRef" name="Refcelular" type="tel" class="form-control required phone_with_ddd" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <h1>Agência</h1>
                                    <fieldset>
                                        <div class="text-center" style="margin-top: 120px">
                                            <h2>Falta colocar Conteúdo :-)</h2>
                                        </div>
                                    </fieldset>

                                    <h1>Confirmação</h1>
                                    <fieldset>
                                        <h2>Terms and Conditions</h2>
                                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required" /> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                                    </fieldset>
                                </h:form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/WIZARD-->

        </section>

        <!-- Mainly scripts -->
        <h:outputScript library="assets/js" name="jquery-2.1.1.js" />
        <h:outputScript library="assets/css/bootstrap-3.3.0/js" name="bootstrap.min.js" />
        <h:outputScript library="assets/js/plugins/metisMenu" name="jquery.metisMenu.js" />
        <h:outputScript library="assets/js/plugins/slimscroll" name="jquery.slimscroll.min.js" />

        <!-- Custom and plugin javascript -->
        <h:outputScript library="assets/js" name="inspinia.js" />
        <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

        <!-- Steps -->
        <h:outputScript library="assets/js/plugins/staps" name="jquery.steps.js" />

        <!-- Moment -->
        <h:outputScript library="assets/js/moment" name="moment.js" />
        <h:outputScript library="assets/js/moment/min" name="locales.js" />

        <!-- Datapicker -->
        <h:outputScript library="assets/js/datepicker" name="bootstrap-datetimepicker.min.js" />

        <!-- Jquery Validate -->
        <h:outputScript library="assets/js/plugins/validate" name="jquery.validate.js" />

        <!-- Wizard -->
        <h:outputScript library="js" name="wizard.js" />

        <h:outputScript library="js" name="protected.js" />

        <h:outputScript library="assets/js/plugins/mask" name="jquery.mask.js" />
        <h:outputScript library="js" name="myMask.js" />

        <script type="text/javascript">
            $(function () {
                $('#nasc').datetimepicker({
                    locale: 'pt-br',
                    viewMode: 'years',
                    format: 'DD/MM/YYYY'
                });
            });
        </script>
    </h:body>

</html>
