<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <h:outputStylesheet library="assets/css/bootstrap-3.3.0/css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="assets/css/font-awesome-4.3.0/css" name="font-awesome.min.css"/>

        <ui:insert name="header">Aqui entram as bibliotecas css específicas para alimentar os gráficos</ui:insert>

        <!-- Morris -->
        <!--<h:outputStylesheet library="assets/css/plugins/morris" name="morris-0.4.3.min.css"/>-->
        
        <h:outputStylesheet library="assets/css" name="animate.css"/>
        <h:outputStylesheet library="assets/css" name="style.css"/>
        <h:outputStylesheet library="css" name="protected.css"/>
        <title>Internet Bank</title>
    </h:head>

    <h:body styleClass="pace-done">

        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul id="side-menu" class="nav" >
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                    <img alt="image" class="img-circle" src="../../resources/assets/img/profile_small.jpg" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Gleyson Gama</strong>
                                        </span> <span class="text-muted text-xs block">Cliente Ouro <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a jsf:outcome="perfil">Perfil</a></li>
                                    <li><a jsf:outcome="contas">Contas</a></li>
                                    <li><a jsf:outcome="mailBox">Mensagens</a></li>
                                    <li class="divider"></li>
                                    <li><a jsf:outcome="index">Sair</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                IBK
                            </div>
                        </li>
                        <li>
                            <a jsf:outcome="index"><i class="fa fa-line-chart"></i> <span class="nav-label">Início</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bank"></i> <span class="nav-label">Transações</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a jsf:outcome="saldo">Saldo</a></li>
                                <li><a jsf:outcome="extrato">Extrato</a></li>
                                <li><a jsf:outcome="transferencia">Tranferência</a></li>
                                <li><a jsf:outcome="pagamento">Pagamento</a></li>
                            </ul>
                        </li>
                        <li>
                            <a jsf:outcome="perfil"><i class="fa fa-user"></i> <span class="nav-label">Perfil</span></a>
                        </li>
                        <li>
                            <a jsf:outcome="mailBox"><i class="fa fa-envelope"></i> <span class="nav-label">Mensagens</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Configurações</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a jsf:outcome="acesso">Acesso</a></li>
                                <li><a jsf:outcome="dependentes">Dependentes</a></li>
                                <li><a jsf:outcome="contas">Contas</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Buscar por..." class="form-control" name="top-search" id="top-search" />
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <!--<span class="m-r-sm text-muted welcome-message">Seja bem vindo Gleyson Gama.</span>-->
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="../../resources/assets/img/a7.jpg" />
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br/>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="../../resources/assets/img/a4.jpg"/>
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br/>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="../../resources/assets/img/profile.jpg"/>
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br/>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> Sair
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>

                <ui:insert name="content">Conteudo a partir daqui</ui:insert>

                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &#9400; 2014-2015
                    </div>
                </div>
            </div>
        </div>

        <!-- Mainly scripts -->
        <h:outputScript library="assets/js" name="jquery-2.1.1.js" />
        <h:outputScript library="assets/css/bootstrap-3.3.0/js" name="bootstrap.min.js" />
        <h:outputScript library="assets/js/plugins/metisMenu" name="jquery.metisMenu.js" />
        <h:outputScript library="assets/js/plugins/slimscroll" name="jquery.slimscroll.min.js" />
        
        <!-- Flot -->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.tooltip.min.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.spline.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.resize.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.pie.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="jquery.flot.symbol.js" />-->
        <!--<h:outputScript library="assets/js/plugins/flot" name="curvedLines.js" />-->

        <!-- Peity -->
        <!--<h:outputScript library="assets/js/plugins/peity" name="jquery.peity.min.js" />-->
        <!--<h:outputScript library="assets/js/demo" name="peity-demo.js" />-->

        <!-- Custom and plugin javascript -->
        <h:outputScript library="assets/js" name="inspinia.js" />
        <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />

        <!-- jQuery UI -->
        <!--<h:outputScript library="assets/js/plugins/jquery-ui" name="jquery-ui.min.js" />-->

        <!-- Jvectormap -->
        <!--<h:outputScript library="assets/js/plugins/jvectormap" name="jquery-jvectormap-1.2.2.min.js" />-->
        <!--<h:outputScript library="assets/js/plugins/jvectormap" name="jquery-jvectormap-world-mill-en.js" />-->

        <!-- Sparkline -->
        <!--<h:outputScript library="assets/js/plugins/sparkline" name="jquery.sparkline.min.js" />-->

        <!-- Sparkline demo data  -->
        <!--<h:outputScript library="assets/js/demo" name="sparkline-demo.js" />-->

        <!-- ChartJS -->
        <!--<h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />-->

        <ui:insert name="footer">Aqui entram as bibliotecas js específicas para alimentar os gráficos</ui:insert>
        
    </h:body>

</html>
