<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <h:outputStylesheet library="assets/css/bootstrap-3.3.0/css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="assets/css/font-awesome-4.3.0/css" name="font-awesome.min.css"/>

        <ui:insert name="header">Aqui entram as bibliotecas css específicas para alimentar os gráficos</ui:insert>

        <h:outputStylesheet library="assets/css" name="animate.css"/>
        <h:outputStylesheet library="assets/css" name="style.css"/>
        <h:outputStylesheet library="css" name="protected.css"/>
        <title>ERP</title>
    </h:head>

    <h:body styleClass="top-navigation">

        <section>
            <div id="wrapper">
                <div id="page-wrapper" class="gray-bg">
                    <div class="row border-bottom white-bg">
                        <nav class="navbar navbar-static-top" role="navigation">
                            <div class="navbar-header">
                                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                    <i class="fa fa-reorder"></i>
                                </button>
                                <a href="#" class="navbar-brand">Inspinia</a>
                            </div>
                            <div class="navbar-collapse collapse" id="navbar">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a aria-expanded="false" role="button" jsf:outcome="layouts"> Back to main Layout page</a>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu item <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                            <li><a href="">Menu item</a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <ul class="nav navbar-top-links navbar-right">
                                    <li>
                                        <a href="login.html">
                                            <i class="fa fa-sign-out"></i> Log out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <ui:insert name="content">Conteudo a partir daqui</ui:insert>

                    <div class="footer">
                        <div class="pull-right">
                            10GB of <strong>250GB</strong> Free.
                        </div>
                        <div>
                            <strong>Copyright</strong> Example Company &#9400; 2014-2015
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Mainly scripts -->
        <h:outputScript library="assets/js" name="jquery-2.1.1.js" />
        <h:outputScript library="assets/css/bootstrap-3.3.0/js" name="bootstrap.min.js" />
        <h:outputScript library="assets/js/plugins/metisMenu" name="jquery.metisMenu.js" />
        <h:outputScript library="assets/js/plugins/slimscroll" name="jquery.slimscroll.min.js" />

        <!-- Custom and plugin javascript -->
        <h:outputScript library="assets/js" name="inspinia.js" />
        <h:outputScript library="assets/js/plugins/pace" name="pace.min.js" />
        
        <!-- Flot -->
        <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.js" />
        <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.tooltip.min.js" />
        <h:outputScript library="assets/js/plugins/flot" name="jquery.flot.resize.js" />

        <!-- ChartJS -->
        <h:outputScript library="assets/js/plugins/chartJs" name="Chart.min.js" />
        
        <!-- Peity -->
        <h:outputScript library="assets/js/plugins/peity" name="jquery.peity.min.js" />
        
        <!-- Peity demo -->
        <h:outputScript library="assets/js/demo" name="peity-demo.js" />

        <!-- JS que alimenta o conteúdo do gráfico dash3.xhtml -->
        <ui:insert name="footer">Aqui entram as bibliotecas js específicas para alimentar os gráficos</ui:insert>

    </h:body>

</html>
